<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>
<body>
    <div class="container">
        @RenderBody()

        <div class="row" style="margin-top:20px;margin-bottom:20px">
            <div class="col-md-12">
                Copyright &copy; Harbin Ramo, Centennial College 2019
            </div>
        </div>
    </div>
</body>
</html>
